version: 2
ethernets:
  nic0:
    dhcp4: true
    match:
      macaddress: {{ VM_NIC_0_MAC }}
    set-name: nic0
  nic1:
    dhcp4: true
    match:
      macaddress: {{ VM_NIC_1_MAC }}
    set-name: nic1
